/* your custom css */

.container .wrapper .imageAlignSide h2 {
    margin:0;
}
.container .wrapper .imageAlignSide h2 p {
  margin-bottom:1rem
}
.container .wrapper .imageAlignSide p{
  text-align:left
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}